.video-container {
  overflow: hidden;
  margin: auto;
  height: calc(100% - 70px);
  position: relative;
  display: inline-block;
}

.video-container > video {
  height: 100%;
  display: flex;
  outline: none;
}

.video-container > video::-webkit-media-controls {
  display: none !important;
}

.overlay {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.controls {
  width: 500px;
  max-width: 90vw;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.volume-ctrl {
  display: flex;
}

.volume-ctrl input {
  margin-left: 20px;
}
